
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab icon-off="ion-ios-body" icon-on="ion-ios-body" href="#/tab/students">
    <ion-nav-view name="tab-students"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-document" icon-on="ion-document" href="#/tab/subjects">
    <ion-nav-view name="tab-subjects"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>


</ion-tabs>
